{% extends "layouts/app.njk" %}

{% block content %}
<div class="flex-center position-ref full-height">
    <div class="content">
        <div class="title m-b-md">
            Template de API com NodeJS
        </div>
    </div>
</div>
{% endblock %}

{% block scriptsJS %}
    <script src="/assets/js/pages/pagePerfil.js"></script>
{% endblock %}
